* {
    box-sizing: border-box;
    background-color: rgb(245, 242, 238);
    margin: 0;
    padding: 0;
}

.header h1 {
    background-color: darkseagreen;
    margin-top: 10px;
    padding: 20px 20px;
    text-align: left;
    font-family: cursive;
    font-size: xx-large;
    text-align: center;
}

.header a {
    float: right;
    background-color: darkseagreen;

}

.navlinks {
    background-color: darkseagreen;
    text-align: center;
}

.navlinks a {
    background-color: darkseagreen;
    display: inline;
    font-family: cursive;
    font-size: larger;
    padding: 0px 20px 0px 20px;
    color: brown;
    margin: 10px 10px;

}

.navitems {
    background-color: rgb(13, 96, 96);
    text-align: right;
    padding: 10px 20px 10px 20px;
}

.navitems a {
    background-color: rgb(13, 96, 96);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: black;
    padding: 0px 20px;
}

.doggrid {

    width: 90%;
    margin: 0px 10px 20px 20px;
    border: 10px solid black;
    border-width: 2px;
    display: inline-block;
}

.dogscontainner {
    margin-top: 10px;
    width: 70%;
}



.dogscontainner h3 {
    border-color: rgb(234, 13, 13);
    padding: 10px 10px 10px 10px;
    border-width: 2px solid;
    text-align: center;
    font-size: xx-large;
    color: darkseagreen;

}

.dogscontainner img {
    display: block;
    border-color: rgb(234, 13, 13);
    height: 200px;
    width: 200px;

}

.dogscontainner p {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 40px;
    font-size: larger;


}

.float-right {
    float: right;
    margin: 20px 20px;
}

.float-left {
    float: left;
    margin: 20px 20px;
}

aside {
    display: block;
}

.form {
    border: 2px solid black;
    height: 100%;
    font-size: large;
    margin-left: 100px;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;

}

.details {
    align-content: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;


}

.footer footer {
    background-color: darkseagreen;
    margin: 1px 1px;
    padding: 10px 10px;

}

footer {
    text-align: center;
    font-size: x-large;
    color: darkgreen;
}